<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="_1tcp" th:fragment="footerCopy">
    <div class="_3vnc">
        <div class="gDka">
            <span>Copyright © 2019
                <a class="ANJ8" target="" href="/">soyoung.com</a>
                自由角度 版权所有
            </span>
        </div>
        <div class="_2QAE">
            <div class="_2y8H">
                <a class="MpfI" target="" href="/">
                    <span>使用条款</span>
                </a>
                <a class="MpfI" target="" href="/">
                    <span>隐私政策</span>
                </a>
                <a class="MpfI" target="" href="/">
                    <span>内容指引</span>
                </a>
                <a class="MpfI" href="/" target="_blank" rel="noopener">
                    <span>网站反馈</span>
                </a>
                <a class="MpfI" href="/" target="_blank" rel="noopener">
                    <span>常见问题</span>
                </a>
            </div>
        </div>
        <div class="_1o2_">
            <a href="/" class="MpfI">中文</a>
            <span class="_23te">|</span>
            <a href="/" class="MpfI">English</a>
        </div></div><div class="_1f24">
    <a class="" href="/" target="_blank" rel="noopener">
        粤ICP备15057791号-2
    </a>
    <a class="" href="/" target="_blank" rel="noopener">
        <img class="_3VVh" src="//sp-webfront.skypixel.com/skypixel/public/website/assets/govIcon_2f477dce997adf9fe4f24c239e7f97f6.gif"
             title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示">
    </a>
</div>
</footer>
</body>
</html>