<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理员账户 | 自由角度</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../vendors/iconfonts/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/iconfonts/font-awesome/css/font-awesome.min.css}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}" />
<link rel="stylesheet" href="@{/webjars/bootstrap/4.3.0/js/bootstrap.js}" />-->
    <style>

        .modal-content {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.3rem;
            outline: 0;
        }


    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html
引入顶部栏
-->
    <div th:replace="~{partials/_navbar :: _navbar}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html
  引入左边栏
  -->
        <div th:replace="~{partials/_sidebar :: _sidebar}"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <!--用户列表-->
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">摄影师信息</h4>
                                <!-- <p class="card-description">
                            Add class
                            <code>.table-striped</code>
                        </p>-->





                                <div class="table-responsive">
                                    <form th:action="@{/queen/selQueenUser}" method="get">

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label class="col-sm-1 col-form-label">用户名称</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" value="" name="userName" placeholder="请输入用户名称">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label">手机号</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" value="" name="phone" placeholder="请输入手机号   ">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label">用户状态</label>
                                                    <div class="col-sm-3">
                                                        <select class="form-control" name="ustart">
                                                            <option value="">所有状态</option>
                                                            <option value="0">正常</option>
                                                            <option value="1">停用</option>
                                                        </select>
                                                    </div>
                                                    <!--<label class="col-sm-1 col-form-label">时间查询</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" value="" name="createTime" placeholder="开始查询时间">
                                            </div>_
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" value="" name="createTimeDao" placeholder="结束查询时间">
                                            </div>
                                            <div class="col-sm-1">
                                                &lt;!&ndash;<button type="submit" class="btn btn-success mr-2">查询</button>&ndash;&gt;
                                                <button class="btn btn-primary btn-rounded btn-sm"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-warning btn-rounded btn-sm"><i class="fa fa-refresh"></i>&nbsp;重置</button>
                                            </div>-->
                                                </div>

                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label class="col-sm-1 col-form-label">时间查询</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" value="" id="createTime" name="createTime" autocomplete="off" placeholder="开始查询时间">
                                                    </div>_
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" value="" id="createTimeDao" name="createTimeDao" autocomplete="off" placeholder="结束查询时间">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <!--<button type="submit" class="btn btn-success mr-2">查询</button>-->
                                                        <button class="btn btn-primary btn-rounded btn-sm"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="reset" class="btn btn-warning btn-rounded btn-sm"><i class="fa fa-refresh"></i>&nbsp;重置</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <hr>

                                        <div class="card-body">
                                            <div class="btn-group-sm" id="toolbar" role="group">
                                                <a class="btn btn-success" th:href="@{/queen/addQueenUser}">
                                                    <i class="fa fa-plus"></i> 新增
                                                </a>
                                                <!-- <a class="btn btn-primary single disabled">
                                            <i class="fa fa-edit"></i> 修改
                                        </a>
                                        <a class="btn btn-danger multiple disabled">
                                            <i class="fa fa-remove"></i> 删除
                                        </a>-->
                                                <a class="btn btn-danger multiple">
                                                    <i class="fa fa-download"></i> 导出
                                                </a>
                                                <!--   <a class="btn btn-warning">
                                            <i class="fa fa-download"></i> 导出
                                        </a>-->
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-striped">
                                                <input type="hidden" name="currentPage" value="1" />
                                                <thead>
                                                <tr>
                                                    <th>
                                                        用户名
                                                    </th>
                                                    <th>
                                                        性别
                                                    </th>
                                                    <th>
                                                        手机号
                                                    </th>
                                                    <th>
                                                        状态
                                                    </th>
                                                    <th>
                                                        创建时间
                                                    </th>
                                                    <th>
                                                        操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="quser : ${queenUserList}">
                                                    <td th:text="${quser.userName}"></td>
                                                    <td th:text="${quser.sex}"></td>
                                                    <td th:text="${quser.phone}"></td>
                                                    <td th:if="${quser.ustart==0}"> <span class="badge badge-pill badge-success">正常</span></td>
                                                    <td th:if="${quser.ustart==1}"> <span class="badge badge-pill badge-warning">停用</span></td>
                                                    <!--<td th:text="${quser.createTime}"></td>-->
                                                    <td th:text="${#dates.format(quser.createTime, 'yyyy-MM-dd  HH:mm:ss')}"></td>

                                                    <td>
                                                        <div class="btn-group dropdown">
                                                            <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                管理
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item btnxiang" href="javascript:void(0)" th:attr="id=${quser.id}"><!--data-toggle="modal" data-target="#myModal"-->
                                                                    <i class="fa fa-reply fa-fw" ></i>用户信息</a>
                                                                <a class="dropdown-item" href="javascript:void(0)">
                                                                    <i class="fa fa-history fa-fw"></i>修改用户</a>
                                                              <!--  <a class="dropdown-item" >
                                                                    <i class="fa fa-address-book fa-fw"></i>重置密码</a>-->
                                                                <div class="dropdown-divider"></div>
                                                                <!--<a class="dropdown-item" href="#">
                                                                    <i class="fa fa-check text-success fa-fw"></i>私信用户</a>-->
                                                                <a class="dropdown-item deleteBtn" href="#" th:attr="del_uri=@{/queen/delQueenUser/}+${quser.id}">
                                                                    <i class="fa fa-times text-danger fa-fw"></i>注销用户</a>
                                                                <!--onclick="showDeleteModal()"-->
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalCenterTitle">用户信息</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="wrapper wrapper-content animated fadeInRight ibox-content">
                                                                            <form class="form-horizontal m" id="form-user-resetPwd" novalidate="novalidate" action="">
                                                                                <input name="userId" type="hidden" value="1">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3  ">登录名称：</label>
                                                                                    <div class="col-sm-12">
                                                                                        <input class="form-control" type="text" readonly="true" name="loginName" th:value="${quser.userName}">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3 control-label">输入密码：</label>
                                                                                    <div class="col-sm-12">
                                                                                        <input class="form-control" type="password" name="password" id="password" value="...">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                                        <button type="button" class="btn btn-primary">重置</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Modal -->

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-body">
                                            <div class="template-demo">
                                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                    <div class="btn-group" role="group" aria-label="First group">
                                                        <button type="button" class="btn btn-outline-secondary" th:disabled="${pageInfo.pageNum==1}" th:onclick="page_nav(1)">首页</button>
                                                        <button type="button" class="btn btn-outline-secondary" th:disabled="${pageInfo.pageNum==1}" th:onclick="page_nav([[${pageInfo.pageNum - 1}]])">«</button>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="${pageInfo.pageNum}"> </button>
                                                        <button type="button" class="btn btn-outline-secondary">/</button>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="${pageInfo.pages}"></button>
                                                        <button type="button" class="btn btn-outline-secondary" th:disabled="${pageInfo.pageNum}==${pageInfo.pages}"
                                                                th:onclick="page_nav([[${pageInfo.pageNum+1}]])">»</button>
                                                        <button type="button" class="btn btn-outline-secondary" th:disabled="${pageInfo.pageNum}==${pageInfo.pages}"
                                                                th:onclick="page_nav([[${pageInfo.pages}]])">尾页</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <form id="deleteForm" method="post">
                                    <input type="hidden" name="_method" value="delete" />
                                </form>
                            </div>
                        </div>
                    </div>






                </div>
            </div>

            <!-- 模态框   信息删除确认 -->
            <div class="modal fade" id="delcfmOverhaul">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <h4 class="modal-title">注销用户</h4>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <!--<h4 class="modal-title">提示</h4>-->
                        </div>
                        <div class="modal-body">
                            <!-- 隐藏需要删除的id -->
                            <input type="hidden" id="deleteHaulId" />
                            <p>您确认要注销此此用户吗？</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="deleteHaulBtn">确认</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- partial:partials/_footer.html
        引入底部栏
    -->
            <div th:replace="~{partials/_footer :: _footer}"></div>
            <!-- partial -->
        </div>
    </div>
</div>

<div class="container">
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">模态框头部</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-sample" action="/queen/addQueenUser" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">用户名：</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="userName" class="form-control">
                                            </div>
                                        </div>
                                    </div><div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">密码：</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">电 话：</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="phone" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">邮 箱：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" name="email" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--<div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">部 门：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="postid">
                                                    <option value="">请选择</option>
                                                    <option value="4">普通员工</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">性 别：</label>
                                            <div class="col-sm-4">
                                                <div class="form-radio">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="sex" id="membershipRadios1" value="男" checked=""> 男
                                                        <i class="input-helper"></i><i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-radio">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="sex" id="membershipRadios2" value="女"> 女
                                                        <i class="input-helper"></i><i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                </div>

                                <div class="row">
                                    <label class="col-sm-1 control-label">描述：</label>
                                    <div class="col-sm-11">
                                        <textarea type="text" name="describe" class="form-control" placeholder="请输入文本...    " style="margin: 0px; height: 144px; width: 900px;"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js" th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script src="../../vendors/js/vendor.bundle.addons.js" th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../js/off-canvas.js" th:src="@{/js/off-canvas.js}"></script>
<script src="../../js/misc.js" th:src="@{/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->

<script th:src="@{/layui/laydate/laydate.js}"></script> <!-- 改成你的路径，引入layui -->
<script>
    function page_nav(num) {
        document.forms[0].currentPage.value = num;
        document.forms[0].submit();
    }

    $(function() {
        $(".deleteBtn").click(function() {
            //删除当前员工的
            var delurl = $(this).attr("del_uri");
            $("#delcfmOverhaul").modal({
                backdrop: 'static',
                keyboard: false
            });
            // 删除大修模态框的确定按钮的点击事件
            $("#deleteHaulBtn").click(function() {
                // 没有使用ajax异步删除，表单提交
                $("#deleteForm").attr("action", delurl).submit();
                return false;
            });

        });

        $(".btnxiang").click(function() {
            /*Ajax查询用户的详细信息*/
            var id = $(this).attr("id");
            $.get("/queen/queenById/"+id,{},function (data) {
                $("[name='userName'").val(data.userName);
                $("[name='password'").val(data.password);
                $("[name='phone'").val(data.phone);
                $("[name='email'").val(data.email);
                $("[name='sex'").val(data.sex);
                if (data.sex=='男'){
                    $("#membershipRadios1").attr("checked","checked");

                }
                if (data.sex=='女'){
                    $("#membershipRadios2").attr("checked","checked");

                }
                $("[name='describe'").val(data.describe);
                $('#myModal').modal('toggle')
            },'json');
        });
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#createTimeDao' //指定元素
    }); laydate.render({
        elem: '#createTime' //指定元素
    });
</script>
</body>
</html>
