<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyoung.photo.freeanglequeen.dao.ProductionMapper">

    <!-- 范宏伦 -->
    <!-- 根据 ID 查询作品 -->
    <select id="selProductionId" resultType="Production">
        select id,pName,proURL,hiapkURL,uid,protypeId,describes,label,duration,facilityId,location,copyrightId,privacyId,viewNum,createTime,updateTime from production
          where
        id = #{id}
    </select>
    <!-- 根据 ID 删除作品 -->
    <delete id="delProductionId" parameterType="Integer">
        delete from production
          where
        id=#{id}
    </delete>

    <!-- 陈海嘉 -->
    <!-- //查询数据库总页数
    public int getProductionSum(Map<String,Object> parmMaps);-->
    <select id="getProductionSum" resultType="int">
        select count(1) from production
        <where>
            <if test="pName!=null and pName!=''">
                and pName LIKE concat('%',#{pName},'%')
            </if>
            <if test="userName!=null and userName!=''">
                and uid IN ( SELECT id FROM USER WHERE userName LIKE concat('%',#{userName},'%') )
            </if>
            <if test="pType!=null and pType!=''">
                and protypeId =#{pType}
            </if>
        </where>
    </select>

    <!-- //查询数据库总页数
    public int getProductionSumHome(Map<String,Object> parmMaps);-->
    <select id="getProductionSumHome" resultType="int">
        select count(1) from production  WHERE to_days( createTime ) = to_days( now( ) )
    </select>
    <!-- //查询商品信息列表
     public List<Map<String,Object>> getProductionList(Map<String,Object> production);-->
    <select id="getProductionList" resultType="map">
        SELECT id,
        pName,
        label,
        (SELECT userName FROM user WHERE id = production.uid) AS uid,
        (SELECT valueName FROM dictionary WHERE id = production.protypeId AND typeCode='PRODUCTION_TYPE') AS protypeId,
        duration,
        (SELECT fName FROM facility WHERE id = production.facilityId) AS facilityId,
        location,viewNum, updateTime,updateTime,
        proURL,hiapkURL,copyrightId,createTime,updateTime
        FROM
        production
        <where>
            <if test="pName!=null and pName!=''">
                and pName LIKE concat('%',#{pName},'%')
            </if>
            <if test="userName!=null and userName!=''">
                and uid IN ( SELECT id FROM USER WHERE userName LIKE concat('%',#{userName},'%') )
            </if>
            <if test="pType!=null and pType!=''">
                and protypeId =#{pType}
            </if>
        </where>
        order by createTime DESC limit ${currentPage},${pageSize}
    </select>

    <!--//按ID查询
    public List<Map<String,Object>> getProductionById(Integer id);-->

    <select id="getProductionById" resultType="map">
        SELECT id,
        pName,label,uid, (SELECT valueName FROM dictionary WHERE id = production.protypeId AND typeCode='PRODUCTION_TYPE') AS protypeId,   duration,(SELECT fName FROM facility WHERE id = production.facilityId) AS facilityId,
        location,viewNum,
        (SELECT valueName FROM dictionary WHERE id = production.privacyId AND typeCode='PRIVACY') as privacyId,
        proURL,hiapkURL,(SELECT valueName FROM dictionary WHERE id = production.copyrightId AND typeCode='COPYRIGHT') AS copyrightId,createTime,updateTime
        FROM
        production
        where id=#{id}
    </select>

    <!--//首页查询，按每天的时间，获取当天注册的用户
    public  List<Map<String ,Object>> everyDayProductionList(Map<String ,Object> parmmap);-->

    <select id="everyDayProductionList" resultType="map">
        SELECT id,
            pName,label,(SELECT userName FROM user WHERE id = production.uid) AS uid, protypeId, duration,facilityId, location,viewNum,
            proURL,hiapkURL,copyrightId,createTime,updateTime
        FROM production
        WHERE to_days( createTime ) = to_days( now( ) )
        order by createTime DESC limit ${currentPage1},${pageSize};
    </select>

    <!--//用户统计，统计每年的增加的用户数量
    public List<Map<String,Object>> getProductionByCreatetime();-->
    <select id="getProductionByCreatetime" resultType="map">
          select  t.createtime as createtime,sum(t.ucount) as ucount ,sum(t.pcount) as pcount
            from(
            select  DATE_FORMAT( createtime, "%Y") as createtime,count(1) as ucount,'0' AS pcount from user GROUP BY  DATE_FORMAT( createtime, "%Y")
            union
            select  DATE_FORMAT( createtime, "%Y") as createtime,'0' AS ucount,count(1) as pcount from production GROUP BY  DATE_FORMAT( createtime, "%Y")
            ) t
            GROUP BY t.createtime
    </select>

    <!--    //授勋操作，在多对多表中添加一条记录
    public int shouXun(Map<String,Object> map);-->
    <insert id="shouXun" >
        insert into productionandmedal VALUES(DEFAULT,#{pid},#{mid},DEFAULT);
    </insert>

    <!--//按照作品类型，进行查询
    public List<Map<String,Object>> getProductionByType(Map<String,Object> map);-->
    <select id="getProductionByType" resultType="map">
        select * from production where uid = #{uid} and protypeId= #{protypeId}

    </select>

</mapper>